.testing-data-table {
  width: 95%;
  margin: auto;
}
.nauIv::-webkit-scrollbar {
  display: none;
}
.testing-data-table .gZWIKX {
  background: rgb(205, 255, 192) !important;
  border-radius: 3px;
}
.edit-user {
  color: rgb(0, 153, 255);
}
